@import "../node_modules/bootstrap/scss/bootstrap.scss";

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    //——————————————————— HEADER SECTION ———————————————————
}
.container {
    width: 1290px;
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    border-bottom: 1px solid gray;
}

.header-icon {
    margin-left: 51px;
    margin-right: 51px;
}

.button-item {
    margin-left: auto;
    margin-right: 51px;
    display: flex;
    gap: 10px;
}

.btn-header-log {
    border: 1px solid rgba(0, 0, 0, 0.5);
    width: 120px;
    height: 45px;
    font-weight: 600;
    font-size: 16px;
    line-height: 281%;
    text-align: center;
    color: #000;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
        background-color: darkgray;
    }
}

.btn-header-try {
    background: #ff6336;
    width: 120px;
    height: 45px;
    font-weight: 600;
    font-size: 16px;
    line-height: 281%;
    text-align: center;
    color: #fff;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
        background-color: orangered;
    }
}

.header-list-item {
    font-weight: 400;
    font-size: 15px;
    line-height: 133%;
    color: #000;
}

.header-list-top {
    display: flex;
    gap: 57px;
    align-items: center;
}

.header-container {
    display: flex;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
}
//——————————————————— MAIN SECTION ———————————————————
.main-container {
    display: flex;
}

.main {
    padding-top: 129px;
    padding-bottom: 182px;
}

.main-title {
    font-weight: 600;
    font-size: 58px;
    line-height: 108%;
    color: #000;
    max-width: 552px;
}

.main-subtitle {
    font-weight: 400;
    font-size: 25px;
    line-height: 140%;
    color: #000;
    max-width: 471px;
    padding-top: 51px;
    padding-bottom: 50px;
}
.btn-main-try {
    width: 160px;
    height: 60px;
    margin-right: 10px;
    background: #ff6336;
    font-weight: 600;
    font-size: 16px;
    line-height: 281%;
    text-align: center;
    color: #fff;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        background-color: orangered;
    }
}

.btn-main-book {
    width: 160px;
    height: 60px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    font-weight: 600;
    font-size: 16px;
    line-height: 281%;
    text-align: center;
    color: #000;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        background-color: darkgray;
    }
}

.main-hide-par {
    font-weight: 400;
    font-size: 15px;
    line-height: 167%;
    color: #000;
    padding-top: 25px;
}

.board-company {
    background: #ff9c7d;
    padding-top: 98px;
    padding-bottom: 94px;
}

.company-title {
    font-weight: 600;
    font-size: 50px;
    line-height: 120%;
    text-align: center;
    color: #000;
    max-width: 720px;
    margin: 0 auto;
}

.company-list {
    margin-top: 70px;
    display: flex;
    gap: 103px;
    align-items: center;
}

.control {
    display: flex;
    align-items: center;
}

.control-info {
    padding-right: 165px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.features {
    padding-top: 100px;
    padding-bottom: 150px;
}

.features-btn {
    width: 96px;
    height: 30px;
    border: none;
    background-color: #ffffff;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #000;
}

.features-title {
    font-weight: 600;
    font-size: 50px;
    line-height: 120%;
    color: #000;
    max-width: 493px;
}

.features-control {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #000;
    max-width: 491px;
}

.features-span {
    text-decoration: underline;
}

.shorten {
    display: flex;
    align-items: center;
    margin-top: 250px;
}

.shorten-info {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-left: 138px;
}

.shorten-title {
    font-weight: 600;
    font-size: 50px;
    line-height: 120%;
    color: #000;
    max-width: 379px;
}

.shorten-subtitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #000;
    max-width: 450px;
}

.ensure {
    display: flex;
    align-items: center;
    margin-top: 250px;
}

.ensure-title {
    font-weight: 600;
    font-size: 50px;
    line-height: 120%;
    color: #000;
    max-width: 397px;
}

.ensure-subtitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #000;
    max-width: 520px;
}

.less-title {
    font-weight: 600;
    font-size: 50px;
    line-height: 120%;
    color: #000;
    max-width: 348px;
}

.less-subtitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #000;
    max-width: 520px;
}

.localize {
    background: #fff8e4;
    padding-top: 120px;
    padding-bottom: 150px;
}

.lokalize-title {
    font-weight: 600;
    font-size: 50px;
    line-height: 120%;
    text-align: center;
    color: #000;
    margin-bottom: 58px;
    max-width: 890px;
}

.localize-item-title {
    font-weight: 600;
    font-size: 23px;
    line-height: 140%;
    text-align: center;
    color: #000;
    max-width: 220px;
}

.localize-subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 139%;
    text-align: center;
    color: #000;
    max-width: 330px;
}

.localize-list {
    display: flex;
    column-gap: 110px;
    row-gap: 57px;
    flex-wrap: wrap;
}

.localize-item {
    width: calc((100% - 2 * 110px) / 3);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
}

.productivity {
    padding-top: 104px;
    padding-bottom: 150px;
}

.productivity-title {
    font-weight: 600;
    font-size: 48px;
    line-height: 120%;
    color: #000;
    text-align: center;
    max-width: 1287px;
    padding-bottom: 75px;
    margin-top: 49px;
}

.productivity-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

// .productivity-item{
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     // justify-content: center;
// }

.productivity-item-title {
    font-weight: 600;
    font-size: 30px;
    line-height: 133%;
    color: #000;
    max-width: 168px;
    margin-top: 49px;
}

.productivity-subtitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #000;
    max-width: 409px;
    margin-top: 34px;
    padding-right: 31px;
}

.img-product-men {
    margin-bottom: 49px;
}

.img-product-dev {
    margin-bottom: 67px;
    margin-top: 17px;
}

.img-product-tran {
    margin-bottom: 58px;
}

.productivity-btn {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: black;
    max-width: 109px;
    border: none;
    margin-top: 25px;
    background-color: #ffffff;
}

.dude {
    background: #c9e8f2;
}

.dude-subtitle {
    font-weight: 400;
    font-size: 30px;
    line-height: 133%;
    color: #000;
    padding-bottom: 23px;
    max-width: 921px;
    padding-top: 63px;
}

.revolut-subtitle {
    font-weight: 400;
    font-size: 15px;
    line-height: 167%;
    color: #000;
    padding-bottom: 7px;
}

.great-platform {
    display: flex;
    gap: 85px;
}

.dude-img {
    padding-bottom: 105px;
    padding-top: 63px;
}

.translation {
    background: #dabc98;
    padding: 80px 0;
}

.translation-container {
    display: flex;
    // align-items: center;
}

.translation-cake {
    display: flex;
    gap: 67px;
    align-items: center;
    margin-right: 125px;
}

.translation-list {
    display: flex;
    gap: 70px;
    padding-left: 71px;
}

.translation-border {
    border-left: 1px solid black;
    display: flex;
    align-items: center;
    height: 168px;
}

.translation-gtwo {
    margin-bottom: 20px;
}

.translation-text {
    margin-top: 14px;
    font-weight: 400;
    font-size: 15px;
    line-height: 167%;
    letter-spacing: 0.05em;
    color: #000;
}

.management-title {
    font-weight: 700;
    font-size: 26px;
    line-height: 143%;
    color: #000;
    max-width: 461px;
}

.work-tools {
    padding-top: 169px;
    padding-bottom: 162px;
}

.tools {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.work-tools-title {
    font-weight: 600;
    font-size: 65px;
    line-height: 115%;
    text-align: center;
    color: #000;
    max-width: 791px;
}

.work-tools-subtitle {
    font-weight: 400;
    font-size: 25px;
    line-height: 120%;
    text-align: center;
    color: #000;
    max-width: 539px;
    margin-bottom: 25px;
}

.integrate-btn {
    font-weight: 600;
    font-size: 16px;
    line-height: 375%;
    text-align: center;
    background: #ff6336;
    margin-top: 32px;
    color: white;
    border: none;
    padding: 0 20px;
}

.easy {
    padding-top: 119px;
    padding-bottom: 161px;
    background: #ff9c7d;
}

.easy-title {
    font-weight: 700;
    font-size: 61px;
    line-height: 115%;
    text-align: center;
    color: #000;
    max-width: 780px;
    margin: 0 auto;
}

.easy-subtitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: #000;
    margin-top: 29px;
}

.easy-btn {
    font-weight: 600;
    font-size: 17px;
    line-height: 353%;
    text-align: center;
    color: #fff;
    width: 160px;
    height: 60px;
    background: #000;
    margin: 54px auto 0;
    display: block;
}

.studies-title {
    font-weight: 700;
    font-size: 38px;
    line-height: 125%;
    color: #000;
    max-width: 257px;
    margin-bottom: 28px;
}

.footer-icon {
    margin-top: 31px;
}

.riding-subtitle {
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    color: #000;
    max-width: 290px;
    margin-top: 11px;
}

.footer-btn {
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    color: #000;
    margin-top: 15px;
    border: none;
    background: #ffffff;
}

.footer-container {
    display: flex;
    padding-top: 92px;
    padding-bottom: 95px;
}

.footer-info {
    display: flex;
    gap: 34px;
    padding-left: 140px;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 21px;
    width: 187px;
}

.footer-list-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 125%;
    color: #000;
}

.footer-list-subtitle {
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
    color: #000;
}

.lokalise-footer {
    border-top: 1px solid black;
    padding: 48px 0;
    display: flex;
}

.lokalise-footer-subtitle {
    font-weight: 400;
    font-size: 12px;
    line-height: 125%;
    color: #000;
    max-width: 280px;
    margin-left: 14px;
}

.footer-subtitle-container {
    margin-left: auto;
    padding-right: 76px;
}
