@use "header";
@use "main";
@use "footer";

@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}
///////////////////TABLET/////////////////

@media screen and (max-width: 1158px) {
    .container {
        width: 768px;
        padding: 0 10px;
    }

    .main {
        padding: 50px 0;
    }
    .main-container {
        flex-direction: column;
    }

    .main-title {
        max-width: 720px;
        text-align: center;
    }
    .main-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .main-subtitle {
        max-width: 620px;
        padding: 20px 0;
    }

    .main-img {
        width: 80%;
        margin: 0 auto;
    }

    .board-company {
        padding: 54px 0;
    }

    .company-list {
        gap: 30px;
        justify-content: center;
        margin-top: 40px;
    }

    .company-icon {
        width: 86px;
        height: 40px;
    }

    .company-title {
        max-width: 600px;
        font-size: 38px;
    }

    .control-info {
        padding-right: 30px;
        gap: 16px;
    }

    .features-img {
        width: 400px;
        height: 400px;
    }

    .features-title {
        max-width: 380px;
        font-size: 36px;
    }

    .features-control {
        max-width: 360px;
        font-size: 15px;
    }

    .shorten-info {
        padding-left: 30px;
    }

    .shorten {
        margin-top: 50px;
    }

    .ensure {
        margin-top: 50px;
    }

    .features-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .features {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    //////////////////////////////////////////
    .localize {
        padding: 60px 0;
    }
    .localize-list {
        column-gap: 50px;
        row-gap: 40px;
        justify-content: center;
    }

    .lokalize-title {
        font-size: 38px;
        text-align: center;
        max-width: 680px;
        margin: 0 auto;
        padding-bottom: 40px;
    }
    ///////////////////////////////////////////
    .dude {
        padding-bottom: 30px;
    }

    .dude-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .great-platform {
        flex-direction: column-reverse;
        align-items: center;
        gap: 5px;
    }

    .dude-img {
        width: 310px;
        height: 310px;
        padding-bottom: 10px;
        padding-top: 25px;
    }

    .dude-subtitle {
        padding-top: 10px;
        font-size: 23px;
        text-align: center;
        max-width: 540px;
        padding-bottom: 10px;
    }
    .productivity {
        padding-top: 60px;
        padding-bottom: 70px;
    }
    .productivity-list {
        flex-wrap: wrap;
        justify-content: start;
        align-items: start;
    }

    .productivity-title {
        font-size: 38px;
    }
    ////////////////////////////

    .translation {
        padding-top: 40px;
        padding-bottom: 10px;
    }
    .translation-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .translation-img {
        width: 120px;
        height: 100px;
    }
    .translation-cake {
        gap: 18px;
        margin-right: 0px;
    }
    .translation-list {
        padding-left: 0;
    }
    .translation-item {
        display: flex;
        flex-direction: column;
    }
    .translation-border {
        border: none;
    }

    .management-title {
        max-width: 380px;
        font-size: 26px;
        text-align: center;
    }

    .translation-text {
        font-size: 13px;
        font-weight: 500;
    }
    ////////////////////////////////////////
    .work-tools {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .work-tools-title {
        font-weight: 600;
        font-size: 46px;
        line-height: 115%;
        text-align: center;
        color: #000;
        max-width: 691px;
    }

    .work-tools-subtitle {
        padding-top: 10px;
        ////////////////////////////////////
    }
    .easy {
        padding-top: 70px;
        padding-bottom: 50px;
        background: #ff9c7d;
    }

    .easy-title {
        font-weight: 700;
        font-size: 40px;
        line-height: 115%;
        text-align: center;
        color: #000;
        max-width: 780px;
        margin: 0 auto;
    }

    // .footer-container {
    //     display: flex;
    //     padding-top: 82px;
    //     padding-bottom: 85px;
    // }

    // //////////////////////////////////

    /*----------------------*/
    .footer-container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 20px 0;
    }

    .footer-container-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-icon {
        width: 120px;
        height: 50px;
    }

    .footer-btn {
        text-decoration: underline;
        font-size: 22px;

        &:hover {
            color: blue;
        }
        &:focus {
            color: blue;
        }
    }

    .riding-subtitle {
        max-width: 100%;
        text-align: center;
        font-size: 20px;
    }

    .footer-icon {
        margin-top: 10px;
    }

    .footer-info {
        column-gap: 20px;
        row-gap: 40px;
        padding: 30px 0px 0px 0px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-info-list:nth-child(2) {
        align-items: end;
        display: flex;
        flex-direction: column;
    }

    .footer-info-list:last-child {
        align-items: end;
        display: flex;
        flex-direction: column;
    }

    .footer-right {
        display: flex;
        flex-direction: column;
        align-items: end;

        &:last-child {
            text-align: end;
        }
    }

    .footer-list-title {
        font-size: 22px;
    }

    .footer-list-subtitle {
        font-size: 16px;

        &:hover {
            color: blue;
        }
        &:focus {
            color: blue;
        }
    }

    .lokalise-footer {
        padding-left: 76px;
    }

    .burger-btn {
        display: block;
        margin-left: auto;
    }

    .mobile-menu {
        display: block;
    }

    .mobile-menu-container {
        display: flex;
        flex-direction: column;
        gap: 60px;
        align-items: center;
        justify-content: center;
    }

    .header-container {
        display: none;
    }

    .menu-icon-hide {
        display: block;
    }
    /*----------------------*/
}

/////////////MOBILE//////////////

@media screen and (max-width: 768px) {
    .container {
        width: 380px;
        padding: 0 8px;
    }

    .main-title {
        max-width: 520px;
        font-size: 36px;
    }

    .main-subtitle {
        max-width: 520px;
        font-size: 18px;
    }

    .btn-main-try {
        width: 100px;
        height: 40px;
        font-size: 12px;
        font-weight: 400;
        border-radius: 8px;
    }

    .btn-main-book {
        width: 100px;
        height: 40px;
        font-size: 12px;
        font-weight: 400;
        border-radius: 8px;
    }

    .main-hide-par {
        font-size: 12px;
        padding-top: 12px;
    }
    ////////////////////////////////////////////
    .company-title {
        max-width: 560px;
        font-size: 32px;
    }

    .company-list {
        gap: 12px;
        margin-top: 30px;
        flex-wrap: wrap;
    }

    .company-icon {
        width: 110px;
    }
    ////////////////////////////////////////////
    .control {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .control-info {
        gap: 10px;
        margin-bottom: 10px;
    }

    .shorten {
        display: flex;
        flex-direction: column-reverse;
    }

    .shorten-info {
        gap: 10px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
    }
    ////////////////////////////////////////////
    .ensure {
        display: flex;
        flex-direction: column;
    }

    .features-control {
        max-width: 500px;
        font-size: 15px;
    }
    /////////////////////////////////////////////
    .localize-item {
        width: calc((100% - 50px) / 2);
    }
    ////////////////////////////////////////////////
    .productivity {
        padding-top: 20px;
        padding-bottom: 30px;
    }
    .productivity-title {
        font-size: 28px;
    }

    .productivity-list {
        align-items: center;
        justify-content: center;
    }
    //////////////////////////////////////////

    .management-title {
        font-weight: 700;
        font-size: 20px;
        line-height: 143%;
        color: #000;
        max-width: 361px;
    }

    .translation {
        background: #dabc98;
        padding: 40px 0;
    }

    .translation-list {
        gap: 32px;
        padding-left: 35px;
    }

    .translation-cake {
        gap: 20px;
        margin-right: 20px;
    }

    .translation-gtwo {
        margin-bottom: 20px;
    }
    /////////////////////////////////////////////
    .work-tools {
        padding-top: 40px;
        padding-bottom: 30px;
    }

    .work-tools-title {
        font-weight: 600;
        font-size: 32px;
        line-height: 115%;
        text-align: center;
        color: #000;
        max-width: 551px;
    }

    .work-tools-subtitle {
        font-weight: 400;
        font-size: 20px;
        line-height: 120%;
        text-align: center;
        color: #000;
        max-width: 439px;
        margin-bottom: 25px;
        margin-top: 5px;
    }

    .integrate-btn {
        border-radius: 8px;
    }
    ////////////////////////////////////////////
    .easy {
        padding-top: 50px;
        padding-bottom: 60px;
        background: #ff9c7d;
    }

    .easy-title {
        font-weight: 700;
        font-size: 34px;
        line-height: 115%;
        text-align: center;
        color: #000;
        max-width: 780px;
        margin: 0 auto;
    }

    .easy-subtitle {
        margin-top: 10px;
    }

    .easy-btn {
        margin: 30px auto 0;
        border-radius: 8px;
    }

    // ///////////////////////////////

    /*------------------------------*/
    .footer-container {
        gap: 0px;
    }

    .footer-btn {
        font-size: 18px;
    }

    .riding-subtitle {
        font-size: 18px;
    }

    .footer-list-title {
        font-size: 20px;
    }

    .footer-list-subtitle {
        font-size: 14px;
    }

    .footer-info {
        column-gap: 10px;
        row-gap: 20px;
    }

    .lokalise-footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 0;
        gap: 10px;
        padding-top: 30px;
        padding-bottom: 10px;
    }

    .lokalise-footer-subtitle {
        margin-left: 0;
        max-width: 340px;
        text-align: center;
    }

    .footer-subtitle-container {
        padding-top: 10px;
        display: flex;
        gap: 30px;
        margin-left: 0;
        padding-right: 0;
    }

    /*------------------------------*/
}
